EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_REPORTS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_REPORTS_BUCKET_ID=
